.message {
    position: absolute;
    width: 414px;
    height: 60px;
    left: 118px;
    top: 275px;

    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
}

.imageAndText {

}

.imageAndText img {
    position: absolute;
    width: 10%;
    height: 10%;
    left: 1162px;
    top: 180px;

}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {

}